.__FormWrapper{
    width:800px;
    background-color: grey;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    border: solid black 2px;
    border-radius: 25px;
}
.__NewTaskForm{
    display: flex;
    flex-direction: column;
    flex-grow:unset;
}
.__NewTaskHeader{
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 0;
    overflow:hidden;
    padding: 30px;
    background-color: aquamarine;
    text-transform: uppercase;
    font-size:30px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 25px;

}

.__FormLabel{
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    font-family: sans-serif;
}

#Description{
resize:none;
margin: 0 10px;
}