.__FormWrapper{
    width:800px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 25px;
}
.__NewTaskForm{
    display: flex;
    flex-direction: column;
    flex-grow:unset;
}
.__NewTaskHeader{
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 0;
    overflow:hidden;
    padding: 30px;
    text-transform: uppercase;
    font-size:30px;
    font-family: sans-serif;
    text-align: center;
    color: #72a7ff;

}

.__FormLabel{
    margin-left: 10px;
    font-size: 18px;
    margin-top: 15px;
    font-family: sans-serif;
    color:#72a7ff;
}

#Description{
resize:none;
margin: 0 10px;
}

.__BackBtn{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding:20px;
    font-size:20px
    }
.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    }
.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.__BackBtn:hover{
    animation-name: backBtnMove;
    animation-duration: 1s;
}

@keyframes backBtnMove {
    0% {left:5%}
    50%{left:2%}
    100%{left:5%}
}
.__Logout{
    text-decoration: none;
    position: absolute;
    right: 0%;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding:20px;
    font-size:20px;
    cursor: pointer;
}
