body{
    background-color:#262626;
    position:relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.__TicketWrapper{

    background-color: #4d4d4d;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
}

.__TicketTitle{
text-align: center;
text-transform: uppercase;
color:#72a7ff;
letter-spacing: 3px;
}
.__ResolveBtn{
    font-family: 'Roboto', sans-serif;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: #72a7ff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    color:white;
    font-weight: 700;
}
.__ResolveBtn:hover{
    background-color: #4a8df8;
}

.__ResolveForm{
    display: flex;
    flex-direction: column;
    flex-grow:unset;
}
.__ViewTicketsWrapper{
    margin-top: 30px;
}

.__TicketWrapper h2{
    color:#72a7ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:20px;
}

.__TicketWrapper h2 span {
    color:white;
    text-transform: initial;
}
.__TicketDescription{
    color:white;
    font-size: 16px;
}
.__TicketComment{
    color:white;
    font-size: 16px;
}
.__TicketResolved{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size:20px;
}

.__FormLabel{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 15px;
    font-family: 'Roboto',sans-serif;
    color:#72a7ff;
}
.__FormInput{
    font-size: 20px;
}
.__BackBtn{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding:20px;
    font-size:20px;
    }
    .arrow {
        border: solid white;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 5px;
        }
    .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    }
    .__Logout{
        text-decoration: none;
        position: absolute;
        right: 0%;
        text-decoration: none;
        color:white;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding:20px;
        font-size:20px;
        cursor: pointer;
    }